pymupdf
xlrd
chardet
python-pptx
opencv-python
python-docx
langchain_community
sanic==23.6.0
pandas
tiktoken
chardet
unstructured==0.11.6
unstructured[pptx]==0.11.6
unstructured[md]==0.11.6
llama_index
llama-index-embeddings-huggingface
sentence_transformers
